body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: rgb(15, 98, 98);
    width: 50%;
    height: 100vh;
    border: solid grey 3px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph{
    font-size: 2.5rem;
    color: rgb(54, 81, 235);
    background-color: lightseagreen ;
    border: black 2px solid;
    text-align: center;
}
